@import "tailwindcss";

@theme inline {
  --font-inter: var(--font-inter);
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}
