@import "tailwindcss";

:root {
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --font-inter: var(--font-inter);
  --font-fixel-bold: var(--font-fixel-bold);
  --font-fixel-extra-bold: var(--font-fixel-extra-bold);
  --color-red-500: oklch(0.5122 0.1786 26.25);
  --color-gray-400: oklch(0.7858 0 0);
  --color-gray-500: oklch(0.3132 0 0);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #000000;*/
/*    --foreground: #ffffff;*/
/*  }*/
/*}*/

::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
  background-color: #b72929;
  border-radius: 50px;
  box-shadow:
    inset -1px -1px 0 rgba(0, 0, 0, 0.05),
    inset 1px 1px 0 rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  background-color: transparent;
  width: 0;
  height: 0;
}

html {
  background: black;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
