@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
}

@keyframes flipLetter {
  0% {
    opacity: 0;
    transform: translateY(20px) rotateX(90deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
  }
  100% {
    opacity: 1;
  }
}

.animate-letter-flip {
  animation: flipLetter 2s infinite ease-in-out;
}
